{% unless include.hide %}
{% if include.last != include.institute %}
<div class="columns headline mb-0 mt-2">
    <div class="column">
        <div class="company is-size-4 has-text-weight-semibold is-family-primary">{{include.institute}}</div>
    </div>
    <div class="column timeline">
        <span class="is-pulled-right">
            {% include timeline.html to=include.to from=include.from %}
        </span>
    </div>
</div>
{% endif %}
<div class="columns mb-0">
    <div class="column pt-0 is-four-fifths">
        <div class="role is-size-6 has-text-weight-medium is-family-primary">{{include.specialisation}}</div>
        {% for role in include.past %}
        <div class="past-role is-size-6 is-family-primary">{{role}}</div>
        {% endfor %}
        <div class="tags pt-2">
            {% for tag in include.tags %}
            <div class="tag is-family-monospace">{{tag}}</div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="detail is-family-secondary">
    {{include.excerpt}}
</div>
{% endunless %}