<!DOCTYPE html>
<html>
  <head>
    <title>Damon Hayhurst - CV</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/30a4f0a358.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/print.css" media="print">
  </head>
  <body>
    <div class="content px-5 py-4">
      <div class="profile columns pb-0">
        <div class="column">  
          <span class="name is-family-primary">{{page.title}}</span>
          <div class="location icon-text is-family-secondary"><span class="icon"><i class="fa fa-globe"></i></span>{{site.data.profile.location}}</div>
        </div>
        <div class="contacts column">
          <div class="contact is-pulled-right icon-text"><span class="icon"><i class="fa fa-envelope"></i></span><span id="email">{{site.data.profile.email}}</span></div>
          <div class="is-clearfix"></div>
          <div class="contact is-pulled-right py-1 is-clearfixicon-text"><span class="icon"><i class="fa fa-phone pr-2"></i></span><span id="telephone">{{site.data.profile.telephone}}</span></div>
          <div class="is-clearfix"></div>
          <div class="contact is-pulled-right py-1icon-text"><span class="icon"><i class="fa fa-linkedin pr-2"></i></span><span id="linkedin">{{site.data.profile.linkedin}}</span></div><br>
          <div class="is-clearfix"></div>
          <div class="contact is-pulled-right py-1icon-text"><span class="icon"><i class="fa fa-github pr-2"></i></span><span id="github">{{site.data.profile.github}}</span></div>
          <div class="is-clearfix"></div>
        </div>
      </div>
      <div class="experiences pb-5">
        {% include section_title.html name='Experience' icon_classes='fa fa-suitcase' %}
        {% assign experiences = site.experience | sort: 'from' | reverse %}
        {% for experience in experiences %}
        <div class="experience pb-1">
            {% include experience.html institute=experience.company specialisation=experience.role to=experience.to from=experience.from tags=experience.tags content=experience.content hide=experience.hide last=last%}
            {% assign last = experience.company %}
        </div>
        {% endfor %}
      </div>
      <div class="education pb-5">
        {% include section_title.html name='Education' icon_classes='fa fa-user-graduate' %}
        {% assign educations = site.education | sort: 'from' | reverse %}
        {% for education in educations %}
        <div class="experience pb-4">
          {% include experience.html institute=education.school specialisation=education.course to=education.to from=education.from tags=education.tags content=education.content hide=education.hide %}
        </div>
        {% endfor %}
      </div>
      <div class="projects pb-5">
        {% include section_title.html name='Projects' icon_classes='fa-brands fa-git-alt' %}
        {% for project in site.projects %}
        <div class="project pb-4">
          {% include project.html name=project.name repo=project.repo tags=project.tags content=project.content %}
        </div>
        {% endfor %}
      </div>
      <!-- <div class="skills">
        {% for category in site.data.skills %}
        <div>
          {{category.name}}
          <div class="tags has-addons">
            {% for skill in category.skills %}
              <div class="tag">{{skill.name}}
              {% if skill.proficient %}
                <div class="tag star-tag"><i class="fa fa-star"></i></div>
              {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div> -->
    </div>
  </body>
</html>
